# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore environment files
.env
.venv/
env/
venv/
bioenv/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore data files
*.csv
*.h5
*.db

# Ignore OS-specific files
.DS_Store

# Ignore Jupyter Notebook outputs
output/

# Ignore build files
build/
dist/
*.egg-info/

# Ignore logs and temporary files
*.log
*.tmp

# Ignore config files to keep credentials private
config.py
config.json

# Ignoring data for chembl files and folders
Data/
chembl_35/

# Ignore docs file for certs
certs/

# Ignoring all of the Azure tmp files and Azure ignore files
*.amltmp
*.amlignore
*.amlignore.amltmp
*.ipynb.amltmp

# Ignoring the Azure aml checkpoints
.ipynb_aml_checkpoints/