absl-py
ace_tools
adal
adlfs
aiofiles
aiohappyeyeballs
aiohttp
aiohttp-cors
aiosignal
aiosqlite
annotated-types
ansicolors
antlr4-python3-runtime
anyio
applicationinsights
arch
argcomplete
argon2-cffi
argon2-cffi-bindings
arrow
asgiref
astroid
asttokens
astunparse
async-lru
async-timeout
attrs
autokeras
autopep8
azure-ai-ml
azure-appconfiguration
azure-batch
azure-cli
azure-cli-core
azure-cli-telemetry
azure-common
azure-core
azure-core-tracing-opentelemetry
azure-cosmos
azure-data-tables
azure-datalake-store
azure-graphrbac
azure-identity
azure-keyvault-administration
azure-keyvault-certificates
azure-keyvault-keys
azure-keyvault-secrets
azure-mgmt-advisor
azure-mgmt-apimanagement
azure-mgmt-appconfiguration
azure-mgmt-appcontainers
azure-mgmt-applicationinsights
azure-mgmt-authorization
azure-mgmt-batch
azure-mgmt-batchai
azure-mgmt-billing
azure-mgmt-botservice
azure-mgmt-cdn
azure-mgmt-cognitiveservices
azure-mgmt-compute
azure-mgmt-containerinstance
azure-mgmt-containerregistry
azure-mgmt-containerservice
azure-mgmt-core
azure-mgmt-cosmosdb
azure-mgmt-databoxedge
azure-mgmt-datalake-nspkg
azure-mgmt-datalake-store
azure-mgmt-datamigration
azure-mgmt-devtestlabs
azure-mgmt-dns
azure-mgmt-eventgrid
azure-mgmt-eventhub
azure-mgmt-extendedlocation
azure-mgmt-hdinsight
azure-mgmt-imagebuilder
azure-mgmt-iotcentral
azure-mgmt-iothub
azure-mgmt-iothubprovisioningservices
azure-mgmt-keyvault
azure-mgmt-kusto
azure-mgmt-loganalytics
azure-mgmt-managedservices
azure-mgmt-managementgroups
azure-mgmt-maps
azure-mgmt-marketplaceordering
azure-mgmt-media
azure-mgmt-monitor
azure-mgmt-msi
azure-mgmt-mysqlflexibleservers
azure-mgmt-netapp
azure-mgmt-network
azure-mgmt-nspkg
azure-mgmt-policyinsights
azure-mgmt-postgresqlflexibleservers
azure-mgmt-privatedns
azure-mgmt-rdbms
azure-mgmt-recoveryservices
azure-mgmt-recoveryservicesbackup
azure-mgmt-redhatopenshift
azure-mgmt-redis
azure-mgmt-resource
azure-mgmt-search
azure-mgmt-security
azure-mgmt-servicebus
azure-mgmt-servicefabric
azure-mgmt-servicefabricmanagedclusters
azure-mgmt-servicelinker
azure-mgmt-signalr
azure-mgmt-sql
azure-mgmt-sqlvirtualmachine
azure-mgmt-storage
azure-mgmt-synapse
azure-mgmt-trafficmanager
azure-mgmt-web
azure-monitor-opentelemetry
azure-monitor-opentelemetry-exporter
azure-monitor-query
azure-multiapi-storage
azure-nspkg
azure-storage-blob
azure-storage-common
azure-storage-file-datalake
azure-storage-file-share
azure-storage-queue
azure-synapse-accesscontrol
azure-synapse-artifacts
azure-synapse-managedprivateendpoints
azure-synapse-spark
azureml-accel-models
azureml-automl-core
azureml-automl-dnn-nlp
azureml-automl-runtime
azureml-cli-common
azureml-contrib-automl-pipeline-steps
azureml-contrib-dataset
azureml-contrib-fairness
azureml-contrib-notebook
azureml-contrib-pipeline-steps
azureml-contrib-reinforcementlearning
azureml-contrib-server
azureml-contrib-services
azureml-core
azureml-datadrift 
azureml-dataprep-native
azureml-dataprep-rslex
azureml-dataset-runtime
azureml-defaults
azureml-fsspec
azureml-inference-server-http
azureml-mlflow
azureml-opendatasets
azureml-pipeline
azureml-pipeline-core
azureml-pipeline-steps
azureml-responsibleai
azureml-sdk
azureml-telemetry
azureml-tensorboard
azureml-train
azureml-train-automl
azureml-train-automl-client
azureml-train-automl-runtime
azureml-train-core
azureml-train-restclients-hyperdrive
azureml-training-tabular
azureml-widgets
Babel
backports.tempfile
backports.weakref
bcrypt
beautifulsoup4
bidict
bleach
blinker
blis
bokeh
boto3
botocore
Bottleneck
Brotli
build
cached-property
cachetools
catalogue
certifi
cffi
chardet
charset-normalizer
click
cloudpathlib
cloudpickle
cmdstanpy
colorama
coloredlogs
colorful
comm
confection
contextlib2
contourpy
convertdate
coremltools
cramjam
cryptography
cycler
cymem
Cython
dacite
dask
dask-expr
dask_sql
databricks-sdk
dataclasses
datasets
debugpy
decorator
defusedxml
Deprecated
dice-ml
dill
distlib
distributed
distro
dm-tree
docker
dotnetcore2
econml
encrypted-inference
entrypoints
ephem
erroranalysis
exceptiongroup
executing
fabric
fairlearn
Farama-Notifications
fastapi
fastjsonschema
fastparquet
fastprogress
filelock
fire
fixedint
flake8
Flask
Flask-Cors
Flask-SocketIO
flatbuffers
fonttools
fqdn
frozenlist
fsspec
fusepy
future
gast
gensim
gevent
gitdb
GitPython
google-api-core
google-auth
google-auth-oauthlib
google-pasta
googleapis-common-protos
greenlet
grpcio
gunicorn
gym
gym-notices
gymnasium
h11
h2
h5py
holidays
hpack
htmlmin
httpcore
httpx
huggingface-hub
humanfriendly
hyperframe
idna
ImageHash
imageio
importlib_metadata
importlib_resources
inference-schema
interpret-core
interpret_community
invoke
ipykernel
ipython
ipython-genutils
ipywidgets
isodate
isoduration
isort
itsdangerous
javaproperties
jax-jumpy
jedi
jeepney
Jinja2
jmespath
joblib
json5
jsondiff
jsonpickle
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter-resource-usage
jupyter-server-mathjax
jupyter-ydoc
jupyter_client
jupyter_core
jupyter_server
jupyter_server_fileid
jupyter_server_terminals
jupyter_server_ydoc
jupyterlab
jupyterlab-system-monitor
jupyterlab-topbar
jupyterlab_nvdashboard
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
jupytext
kagglehub
keras
keras-nlp
keras-tuner
keras2onnx
kiwisolver
knack
krb5
kt-legacy
langcodes
language_data
lazy_loader
liac-arff
libclang
lightgbm
linkify-it-py
llvmlite
locket
LunarCalendar
lz4
marisa-trie
Markdown
markdown-it-py
MarkupSafe
marshmallow
matplotlib
matplotlib-inline
mccabe
mdit-py-plugins
mdurl
memray
microsoft-security-utilities-secret-masker
mistune
mkl-fft
mkl-random
mkl-service
ml-dtypes
ml_wrappers
mlflow-skinny
mpmath
msal
msal-extensions
msgpack
msrest
msrestazure
multidict
multimethod
multiprocess
murmurhash
mysql-connector-python
namex
nbclassic
nbclient
nbconvert
nbdime
nbformat
ndg-httpsclient
nest_asyncio
networkx
notebook
notebook_shim
numba
numexpr
numpy
nvidia-cublas-cu11
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu11
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu11
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu11
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-ml-py3
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
oauthlib
onnx
onnxconverter-common
onnxmltools
onnxruntime
opencensus
opencensus-context
opencensus-ext-azure
opencv-python
opentelemetry-api
opentelemetry-instrumentation
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-dbapi
opentelemetry-instrumentation-django
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-flask
opentelemetry-instrumentation-psycopg2
opentelemetry-instrumentation-requests
opentelemetry-instrumentation-urllib
opentelemetry-instrumentation-urllib3
opentelemetry-instrumentation-wsgi
opentelemetry-resource-detector-azure
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
opt-einsum
optree
overrides
packaging
pandas
pandas-ml
pandocfilters
papermill
paramiko
parso
partd
pathspec
patsy
pexpect
phik
pickleshare
Pillow
pip-tools
pipdeptree
pkginfo
pkgutil_resolve_name
platformdirs
plotly
pluggy
pmdarima
portalocker
preshed
prometheus_client
prompt_toolkit
property-cached
prophet
proto-plus
protobuf
psutil
psycopg2
ptyprocess
pure_eval
py-deviceid
py-spy
py4j
pyaml
pyarrow
pyarrow-hotfix
pyasn1
pyasn1_modules
pycocotools
pycodestyle
pycomposefile
pycparser
pydantic
pydantic-settings
pydantic_core
pydash
pydocstyle
pyflakes
PyGithub
Pygments
PyJWT
pylint
PyMeeus
PyNaCl
pynvml
pyodbc
pyOpenSSL
pyparsing
pyproject_hooks
pyreadline3
PySocks
pyspark
python-dateutil
python-dotenv
python-engineio
python-json-logger
python-jsonrpc-server
python-language-server
python-snappy
python-socketio
pytoolconfig
pytz
PyWavelets
PyYAML
pyzmq
qtconsole
QtPy
QuantLib
rai_core_flask
raiutils
raiwidgets
ray
rdkit
referencing
regex
requests
requests-oauthlib
responsibleai
rfc3339-validator
rfc3986-validator
rich
rope
rpds-py
rsa
s3transfer
safetensors
scikit-image
scikit-learn
scikit-optimize
scipy
scp
scrapbook
seaborn
SecretStorage
semver
Send2Trash
sentencepiece
seqeval
setuptools-git
shap
simple-websocket
six
skl2onnx
sklearn-pandas
slicer
smart-open
smmap
sniffio
snowballstemmer
sortedcontainers
soupsieve
spacy
spacy-legacy
spacy-loggers
sparse
SQLAlchemy
sqlparse
srsly
sshtunnel
stack-data
starlette
statsmodels
strictyaml
sweetviz
sympy
tabulate
tblib
tenacity
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorboardX
tensorflow
tensorflow-estimator
tensorflow-io-gcs-filesystem
tensorflow-text
termcolor
terminado
textual
thinc
threadpoolctl
tifffile
tinycss2
tokenizers
toml
tomli
tomlkit
toolz
torch-tb-profiler
tornado
tqdm
traitlets
transformers
triton
typeguard
typer
types-python-dateutil
typing-utils
typing_extensions
tzdata
tzlocal
uc-micro-py
ujson
unicodedata2
uri-template
urllib3
uuid
uvicorn
virtualenv
visions
waitress
wasabi
wcwidth
weasel
webcolors
webencodings
websocket-client
websockets
Werkzeug
widgetsnbextension
wordcloud
wrapt
wsproto
xgboost
xmltodict
xxhash
y-py
yapf
yarl
ydata-profiling
ypy-websocket
zict
zipp
zope.event
zope.interface
